.main-container {
    display: flex;
    justify-content: space-around;
}


.card-1 {
    display: inline-grid;
    transition: transform 1s;
    margin: 20px;
    /* 
       perspective : 3D? 입체?
       rotateY()  어느 각도로 돌 건지(시작 각도)
    */
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.card-1:hover {
    /* hover에서 rotateY() 어느 각도까지 돌건지 */
    transform: perspective(800px) rotateY(180deg);
}

.card-1 > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 180px;
    height: 100px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-1-front {
    background: linear-gradient(rgb(80, 67, 52), rgb(111, 93, 73));
}

.card-1-back {
    background: linear-gradient(rgb(127, 106, 83), rgb(156, 132, 104));
    transform: rotateY(180deg);
}


.card-2 {
    display: inline-grid;
    transition: transform 0.8s;
    transform: perspective(800px) rotateX(0deg);
    transform-style: preserve-3d;
    margin: 20px;
}

.card-2 > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 180px;
    height: 100px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-2:hover {
    transform: rotateX(180deg);
}

.card-2-front {
    background-color: aquamarine;
    float: left;
}

.card-2-back {
    background-color: aqua;
    float: left;
    transform: rotateX(180deg);
}

.card-3 {
    display: inline-grid;
    transition: transform 0.8s;
    transform: rotateZ(0deg);
    transform-style: preserve-3d;
    margin: 20px;
}

.card-3:hover {
    transform: perspective(800px) rotateZ(180deg);
}

.card-3 > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 180px;
    height: 100px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
}

.card-3-front {
    background-color: bisque;
}

.card-3-back {
    background-color: pink;
    transform: rotateZ(180deg);
}

.card-4 {
    margin: 20px;
}

.card-4 > * {
    width: 180px;
    height: 100px;
    padding: 12px;
    background-color: lightblue;
    border-radius: 8px;
}