.main-container-4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}


.box {
    background: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.box2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: orange;
    margin: 10px;
}

.buttonBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

